@{
    ViewBag.Title = "NotFound";
}

<hgroup class="title" style="margin-top:40px; ">
    <h3 class="error">Error.</h3><br/>
    <h4>Sorry, The Page, You are Looking for is not found.</h4><br/>

    <h5>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h5>  
</hgroup>
 

