@{
    ViewBag.Title = "Trainings ";
}

<h4> PinnaFace Software Trainings</h4>
<div class="clear-fix"></div>
<hr/>


<div class="container">
    <div class="row-fluid">
    
        <div class="span3">
        
        </div>
        <div class="span8">
            <div class="hidden-print" style="margin-top: 20px;">
                <video controls="controls" autoplay="autoplay" width="100%">
                    <source src="http://pinnasofts.com/pinnaface/AddANewEmployee.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
             
        <div class="span1">
                
        </div>
    </div>
</div>

<hr/>