<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="background: transparent;">
        <p>
            <!-- <span style="font-size:22px;font-weight:normal;color:green;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif">
                     Confirm Account
                 </span>
                <br/>
                Hi
                <br/>
                <b>Please find the Account Confirmation Token</b><br/>
                <a href='ConfirmationToken'>#ConfirmAccount#</a>-->
        
            <table border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#cecece" align="center" style="border-collapse: collapse; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                <tbody><tr style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                           <td colspan="3" height="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 20px;">
                           </td>
                       </tr>

                    <tr bgcolor="#0086dc" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td colspan="3" align="center" valign="middle" height="50" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 50px;">
                            <span style="color: #fff; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 22px; font-weight: normal;">
                                Forgot Password
                            </span>
                        </td>
                    </tr>
                    <tr bgcolor="#fff" style="background-color: #fff; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td width="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width: 20px;">
                        </td>
                        <td style="border: none; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 5px;">
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">            
                                This message was created by PinnaFace Site Administration.
                            </p>
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">            
                                *** PLEASE DO NOT REPLY THIS MESSAGE ***
                            </p>
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">
                                Dear Customer,    
                            </p>
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">            
                                As per your request, we have sent you the password reset link. Click on the following link to
                                reset your password:<br style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif"><br>        
                                <a style="color: #0086dc; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; text-decoration: none;" 
                                   href="resetLink"  target="_blank" >resetLink</a>
                            </p>
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">            
                                Thank you for using PinnaFace.
                            </p>

                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 21px; margin: 10px 0;">
                                Best Regards,<br style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                                Support<br style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                                PinnaFace
                            </p>
                        </td>
                        <td width="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width: 20px;">
                        </td>
                    </tr>
                    
                    <tr bgcolor="#fff" style="background-color: #fff; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td colspan="3" height="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 20px;">
                        </td>
                    </tr>
                    <tr style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td colspan="3" height="10" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 10px;">
                        </td>
                    </tr>
                    <tr style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td width="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width: 20px;">
                        </td>
                        <td align="center" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px; line-height: 1.4;">
                                Need help? <a style="color: #ff6600; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; text-decoration: none;" href="mailto:contact@pinnaface.com" target="_blank">contact
                                               support</a>.<br style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                                This email was sent to you because you have subscribed on PinnaFace.
                            </p>
                            <p style="color: #797979; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                                © 2019 PinnaFace</p>
                        </td>
                        <td width="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width: 20px;">
                        </td>
                    </tr>
                    <tr style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif">
                        <td colspan="3" height="20" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 20px;">
                        </td>
                    </tr>
                </tbody></table>
            <br/>
            <br/>
        </p>
    </body>
</html>